body{
    background-color: #f4f4f4;
    font-size: 20px;
    line-height: 50px;
    padding:0;
    margin:0;
}
.header{
    width: 100%;
    background-color: skyblue;
    text-align: center;

    position: fixed;
    left:0;
    top:0;
}

.progress{
    width:100%;
    height:5px;
    background-color: #bbb;

}

.progress-bar{
    width:0;
    height:5px;
    background-color: green;
}

.content{
    width: 80%;
    padding: 50px 0;
    margin: 100px auto;
   /* background-color:skyblue;*/
   background: linear-gradient(skyblue,lightblue);
}

/*@media print{
    *{
        visibility: hidden;
    }
    .printarea *{
        visibility: visible;
    }
    .header{
        position: static;
    }

    .pagebreak{
        
        page-break-after: always;
    }
}*/

/*@page{*/
    /*size:portrait;*/
    /*size: landscape;*/
    /*size: auto;*/
    /*size: A4;*/
    /*size: legal;*/
    /*size: A4 landscape;*/
    /*size: 4in 6in;*/

 /*   margin: 0;
}*/



